---
import Main from "../layouts/Main.astro";

---

<Main>
    <section class="mx-auto text-center">
        <h3 class="py-5 text-xl">Wanna Chat? Join My Discord!</h3>
        <iframe class="mx-auto" title=" " src="https://discord.com/widget?id=857047360551125013&theme=dark" width="350" height="500" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts" />    
    </section>
</Main>
