---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main style="text-align:center;">
            <h1>Hi my name is Steven.</h1>
            <h2>Im a Engineer by trade and a Maker by passion.</h2>
            <p>🎉 Welcome to my little corner of the internet. 🎉</p>
            <p>As I return to work this is where I have decided to track my journey. I don't like social media so that method of sharing was dead in the water, and this presented a particular freedom i've been looking for when it comes to expressing myself online.</p>
            <p>I've been doing web development since I was around 10 years of age, at that time just tinkering with html,css and a bit of php. There's always been a beautiful sense of artistry to me when it comes to designing the user expreience that helps deliver a message or product.</p>
            <p>That's why after a bit of thought and consideration I settled on hosting my own blog.</p>
            <p>I not only intend to track my journey back into the Information Technology field but also post about what I am currently working on and occasionally journal on new technology I find interesting.</p>
            <p>I can't wait to look back one day on this page and have all the memories to enjoy. I hope you are excited to see this page evolve with me and join me in my journey.</p>
		</main>
		<Footer />
	</body>
<style>
</style>
</html>
