---
import Main from "../layouts/Main.astro";

---

<Main>
    <main class="mb-5 px-5 py-28 text-center">
        <h1>minisign</h1>
        <p>
            untrusted comment: minisign public key: 290AD1D58CBC0E25
            RWQlDryM1dEKKZdg/0uoM4VarAZtPpQ5eTgbd1bVUU3tch6qMmfUiIQ4
        </p>
        <h1>age(PLEASE USE BOTH)</h1>
        <p>
            age1yubikey1qvf7u5lu4ate7n94ss6ae37a8l0956y3jd6jp8jx5ty7esxflgf27d6xw66, age1yubikey1qdau640jzv0hae3e2yd7ym63s4yas6p67e2duhu967fqdv3n9x032f6sca7
        </p>
        <h1>SSH</h1>
        <p>
            ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIrZpH5QV62dtTb2yx5I3PF2lJyNpPkV57pDlo6xawID
        </p>
    </main>
</Main>