---
import Main from "../layouts/Main.astro";

---
<!-- Steven Carpenter's Blog -->
<!-- Copyright (C) 2023  Steven Carpenter -->
<!--  -->
<!-- This program is free software: you can redistribute it and/or modify -->
<!-- it under the terms of the GNU Affero General Public License as published by -->
<!-- the Free Software Foundation, either version 3 of the License, or -->
<!-- (at your option) any later version. -->
<!--  -->
<!-- This program is distributed in the hope that it will be useful, -->
<!-- but WITHOUT ANY WARRANTY; without even the implied warranty of -->
<!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the -->
<!-- GNU Affero General Public License for more details. -->
<!--  -->
<!-- You should have received a copy of the GNU Affero General Public License -->
<!-- along with this program.  If not, see <https://www.gnu.org/licenses/>. -->
<!--  -->
<!-- If you have any questions about this license you may contact me @ steven.carpenter@skdevstudios.com -->

<Main>
    <main class="mb-5 px-5 py-28 text-center">
        <h1>minisign</h1>
        <p>
            untrusted comment: minisign public key: 290AD1D58CBC0E25
            RWQlDryM1dEKKZdg/0uoM4VarAZtPpQ5eTgbd1bVUU3tch6qMmfUiIQ4
        </p>
        <h1>age(PLEASE USE BOTH)</h1>
        <p>
            age1yubikey1qvf7u5lu4ate7n94ss6ae37a8l0956y3jd6jp8jx5ty7esxflgf27d6xw66, age1yubikey1qdau640jzv0hae3e2yd7ym63s4yas6p67e2duhu967fqdv3n9x032f6sca7
        </p>
        <h1>SSH</h1>
        <p>
            ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIrZpH5QV62dtTb2yx5I3PF2lJyNpPkV57pDlo6xawID
        </p>
    </main>
</Main>