---
const today = new Date();
---

<div class="mt-5 bg-slate-900 p-5">
  <footer>
    &copy; {today.getFullYear()} Steven Carpenter. All rights reserved.
  </footer>
</div>
<style>
  footer {
    padding: 25px;
    text-align: center;
  }
</style>
