---
const today = new Date();
---

<div class="bg-slate-900 text-center py-5 relative bottom-0 w-full">
  <footer>
    &copy; {today.getFullYear()} Steven Carpenter. All rights reserved.
  </footer>
</div>
<style>
  footer {
    padding: 25px;
    text-align: center;
  }
</style>
